auto-install-peers=false
engine-strict=true
link-workspace-packages=false
package-manager-strict=true
resolve-peers-from-workspace-root=true
save-workspace-protocol=rolling
shared-workspace-lockfile=true
strict-peer-dependencies=true
